.SocialButton {
  font-size: 0.75em;  
  &__caption {
    color: #777;
    text-decoration: underline;    
  }
  &__icon {
    font-size: 4em!important;
    &--facebook { color:#3B5998; }
    &--google-plus { color: #dd4b39; }
    &--linkedin { color: #007bb6; }
  }
}

