.auth {
  margin-top: 20px;
  text-align: center;
  padding: 0 14px;
  color: black;
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
}
.formError {
  color: red;
  float: left;
}
.showError {
  padding: 0 14px;
}
.auth-button {
  width: 100%;
  background-color: #ff824e !important;
}
.auth-div {
  padding: 0 14px;
}
input {
  border-bottom: 2px solid;
  color: white;
}
/* label color */
.input-field label {
  color: #000;
}
/* label focus color */
.input-field input[type="text"]:focus + label {
  color: #000;
}
/* label underline focus color */
.input-field input[type="text"]:focus {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}
/* valid color */
.input-field input[type="text"].valid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}
/* invalid color */
.input-field input[type="text"].invalid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}
/* icon prefix focus color */
.input-field .prefix.active {
  color: #000;
}
