.button {
  display: inline-block;
  padding: 0.5rem 3rem;
  color: #fff !important;
  font-weight: 100;
  font-size: 1.2rem;
  letter-spacing: 0.03rem;
  border-bottom-width: 2px;
  border-radius: 0.2rem;

  &--submit {
    margin: 1rem 0;
  }

  &--fullwidth {
    width: 100%;
  }
  &--shrink-text {
    padding: 0.5em 1em;
  }
}

.form {
  font-size: 1rem;
}

// form
.form__label {
  font-weight: 500;
  letter-spacing: 0.03em;
}
.form__input--normalize {
  margin-bottom: 0;
  margin-top: 1em;
}
.form__error {
  color: #e54d4d;
  font-size: 0.85em;
  font-weight: 500;
}
