@import 'styles/settings';

.start-chat {
  font-size: 1rem;
  background: #fff;
  padding-top: 1em;
  padding-bottom: 3em;
  @include breakpoint(small only) {
    font-size: 0.9rem;
  }

  &__visual {
    height: 5em;
    width: 5em;
    border-radius: 50%;
    // border:2px solid #ddd;
    margin: auto;
    background: $primary-color;
  }
  &__text {
    font-weight: 100;
    font-size: 1.2em;
    // border: 1px solid;
    text-align: center;
    margin-top: 0.2em;
  }

  &__icon {
    font-size: 3.5em !important;
    color: #fff;
    padding: 0.2em 0.2em 0.2em 0.28em;
  }
  &__main-heading {
    text-align: center;
  }
  &__start_text {
    height: 150px;
  }
  &__start_call {
    font-weight: bold !important;
    font-size: 1.2em !important;
  }
}
