.TodoItem {
  padding: 1.3rem;
  height: 50px;
  border-radius: 5px;
  background: linear-gradient(to right, #ff6378, #ff824e);
}
.circleBase {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  border: 1px solid white;
}
