@import "styles/settings";

.header{
  font-size: 1rem;
  padding: 0.5rem;
  border-bottom: 1px solid rgb(238, 238, 238);

  &__right {
    padding: 0;
    margin: 0;
    list-style: none;
    float: right;
  }
  &__item {
    display: inline-block;
    line-height: 1;
    margin-left: 2.5rem;
  }

  &__link {
    color: #696969;
    // line-height: 3em;
    font-weight: 600;
    display: inline-block; 
    padding: 0.5em 0.4em!important;           
  }

  &__search-cue {
    font-size: 1.5em;
    color: $primary-color;
  }

  &--icon {
    vertical-align: top;
  }

}
